
html {
	font-family: @font-family-regular;
	scroll-behavior: smooth;
}

body {

	background: #0000;
	background: var(--background);
	color: #fff;
	color: var(--f_med);
	-webkit-tap-highlight-color: rgba(0,0,0,0);//var(--b_high);

	.typo-body2;
}

.selection(
	@color: var(--f_inv),
	@background: var(--b_inv)
);

.h1 { .typo-h1() }
.h2 { .typo-h2() }
.h3 { .typo-h3() }
.h4 { .typo-h4() }
.h5 { .typo-h5() }
.h6 { .typo-h6() }

h1 { .h1() }
h2 { .h2() }
h3 { .h3() }
h4 { .h4() }
h5 { .h5() }
h6 { .h6() }

h1, h2, h3, h4, h5, h6 {
	font-family: @font-family-title;
	margin: 0;
}

p {
	margin: 0 0 1rem;
}

a {
	outline: none;
	color: #5e6461;
	color: var(--f_med);
	//border-bottom: 1px dotted var(--f_low);
	//text-decoration-line: underline;
	//text-decoration-style: wavy;
	&[href] {
		&:hover {
			transition: color .1s;
			color: var(--f_high);
		}
	}
	&:focus {
		color: var(--f_high);
	}
	&:active {
		//color: red !important;
	}
	/*
	&:focus {
		//border-radius: 4px;
		//transition: border 1s;
		//border: 1px solid var(--f_med);
		//background: var(--f_med);
		//color: var(--background);
	}
	*/
}

ol, ul {
	/*
	margin-block-start: 1em;
	margin-block-end: 2em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 2rem;
	*/
	list-style: none;
	margin: 0; // 0 1rem;
	padding: 0;
}

button {
	border: none;
    outline: none;
	background: transparent;
}

/*
[class^="ic-"],	
[class*=" ic-"] {	
	.icon;	
}
*/

.link( @icon: @ic-diamond ) {
	.icon;
	content: @icon;
	padding-left: 0.375em;
	font-size: 0.75em;
}

 article {
	min-width: 200px;
	max-width: 720px;
	ol, ul {
		list-style: circle;
		margin-block-start: 1em;
		margin-block-end: 2em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 2rem;
	}
	a {
		//text-decoration: underline;
		//border-bottom: 1px dotted var(--f_med);
		//transition: background .1s ease-in, color .1s ease-in;
		border-bottom: 1px dotted var(--b_high);
		&:hover {
			//background: var(--b_low);
		}
		&[href^="mailto"]:after { .link( @ic-envelope ) }
		&[href^="http"]:after { .link( @ic-external-link ) }
	}
	/*
	ul, ol {
		//padding-bottom: @D4;
		&.arrow {
			li {
				.ic-angle-right;
				&:before {
					.icon;
					padding-right: 1ch;
				}
			}
		}
	} 
	*/
 }
