
:root {

	--background: #101111;

	--f-high: #919794;
	--f-med: #5e6461;
	--f-low: #2d2f2e;
	--f-inv: #fff;

	--b-high: #292b2b;
	--b-med: #101111;
	--b-low: #000000;
	--b-inv: #000;
}

.background { color: var(--background); }
.f-high { color: var(--f-high); }
.f-med { color: var(--f-med); }
.f-low { color: var(--f-low); }
.b-high { color: var(--b-high); }
.b-med { color: var(--b-med); }
.b-low { color: var(--b-low); }

html {
	font-family: @font-regular;
}

body {
	.typo-body2;
	background: var(--background);
	color: var(--f-med);
	-webkit-tap-highlight-color: var(--f-med);
}

.selection(
	@color: var(--f-inv),
	@background: var(--b-inv)
);

.h1 { .typo-h1() }
.h2 { .typo-h2() }
.h3 { .typo-h3() }
.h4 { .typo-h4() }
.h5 { .typo-h5() }
.h6 { .typo-h6() }

h1 { .h1() }
h2 { .h2() }
h3 { .h3() }
h4 { .h4() }
h5 { .h5() }
h6 { .h6() }

h1, h2, h3, h4, h5, h6 {
	font-family: @font-title;
	margin: 0;
}

p {
	margin: 0 0 1rem;
}

a {
	outline: none;
	color: var(--f-med);
	//border-bottom: 1px dotted var(--f-low);
	//text-decoration-line: underline;
	//text-decoration-style: wavy;
	&[href] {
		&:hover {
			transition: color .1s;
			color: var(--f-high);
		}
	}
	&:focus {
		color: var(--f-high);
	}
	/*
	&:focus {
		//border-radius: 4px;
		//transition: border 1s;
		//border: 1px solid var(--f-med);
		//background: var(--f-med);
		//color: var(--background);
	}
	*/
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	border: none;
    outline: none;
	background: transparent;
}
