
@font-filepath: "../fnt";

@font-face {
    font-family: @font-regular;
	font-display: block;
    src:
        local('Liberation Mono'),
        url('@{font-filepath}/liberation_mono-regular.woff2') format('woff2'),
        url('@{font-filepath}/liberation_mono-regular.ttf') format('truetype');
}

@font-face {
    font-family: @font-title;
	font-display: block;
    src:
        //local('Helvetica Neue LT Std'),
        url('@{font-filepath}/helvetica_neue_65.woff2') format('woff2'),
        url('@{font-filepath}/helvetica_neue_65.woff') format('woff'),
        url('@{font-filepath}/helvetica_neue_65.ttf') format('truetype');
}

@font-face {
	font-family: @font-icon;
	font-display: block;
	src:
		url('@{font-filepath}/fa.woff') format('woff'),
		url('@{font-filepath}/fa.ttf') format('truetype'),
		url('@{font-filepath}/fa.svg') format('svg');
}
