
@font-face {
    font-family: @font-family-regular;
	font-display: block;
    src:
        local('Liberation Mono'),
        url('@{font-filepath}/liberation_mono-regular.woff2') format('woff2'),
        url('@{font-filepath}/liberation_mono-regular.ttf') format('truetype');
}
@font-face {
    font-family: @font-family-title;
	font-display: block;
    src:
        url('@{font-filepath}/helvetica_neue_65.woff2') format('woff2'),
        url('@{font-filepath}/helvetica_neue_65.woff') format('woff'),
        url('@{font-filepath}/helvetica_neue_65.ttf') format('truetype');
}
@font-face {
	font-family: @font-family-icon;
	font-display: block;
	src:
		url('@{font-filepath}/fa.woff2') format('woff2'),
		url('@{font-filepath}/fa.woff') format('woff'),
		url('@{font-filepath}/fa.ttf') format('truetype'),
		url('@{font-filepath}/fa.svg') format('svg');
}

@font-face {
	font-family: 'MicroKnight';
	src:
		url('@{font-filepath}/MicroKnight_v1.0.woff2') format('woff2'),
		url('@{font-filepath}/MicroKnight_v1.0.ttf') format('truetype');
}
@font-face {
	font-family: 'MicroKnightPlus';
	src:
		url('@{font-filepath}/MicroKnightPlus_v1.0.woff2') format('woff2'),
		url('@{font-filepath}/MicroKnightPlus_v1.0.ttf') format('truetype');
}
