
body > main.record {
	display: grid;
	> .title {
		grid-area: title;
		font-family: @font-family-title;
		&::after {
			content: ".";
		}
	}
	> .artists {
		grid-area: artists;
		.seperator;
		* {
			&:not(:last-child)::after {
				content: "+";
				margin: 0 0.75ch;
			}
		}
	}
	> .title {
		cursor: default;
	}
	> .details {
		grid-area: details;
		display: flex;
		> * {
			&:not(:last-child)::after {
				content: "-";
				margin: 0 1ch;
			}
		}
		> .format {
			&::before {
				padding-right: 1ch;
			}
		}
		> .year {
			&::before {
				padding-right: 1ch;
			}
		}
	}
	> .cover {
		grid-area: cover;
		picture {
			img {
				display: block;
				width: 100%;
			//	filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.4));
				.no-user-drag;
				.no-user-select;
			}
		}
		@media (orientation:portrait)  {
			picture.front img {
				padding-bottom: 0.75em;
			}
			picture.back img {
				//padding-top: 0.5em;
			}
		}
		@media (orientation:landscape)  {
			display: flex;
			picture.front img {
				padding-right: 0.5rem;
			}
			picture.back img {
				padding-left: 0.5rem;
			}
		}
	}
	> .notes {
		grid-area: notes;
	}
	> .tracks {
		grid-area: tracks;
		.track {
			.position {
				&::after {
					padding-left: 0.5rem;
					content: "-";
				}
			}
			audio {
				//height: 1em;
				//margin: 0;
				//padding: 0;
			}
		}
	}
	> .description {
		grid-area: description;
	}
	> .nav {
		grid-area: nav;
		.typo-caption;
		.no-user-select;
		a {
			.icon;
			&.prev::before {
				padding-right: 0.5ch;
				content: @ic-caret-left;
			}
			&.next::after {
				padding-left: 0.5ch;
				content: @ic-caret-right;
			}
		}
	}

	////////////////////////////////////////////////////////////////////////////

	@media screen and (max-width:640px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(7,auto) 4rem;
		grid-template-areas:
			"artists"
			"title"
			"details"
			"description"
			"tracks"
			"notes"
			"cover"
			"nav";
		grid-row-gap: 1em;
		> * {
			//border-bottom: 1px solid var(--f-med);
		}
		> .details, > .notes, > .description, > .tracks {
			padding-left: 0.75rem;
			border-left: 0.1rem solid var(--f-med);
		}
		> .artists {
			.h6;
			.seperator();
		}
		> .title {
			.h3;
		}
		> .details {
			display: flex;
			.id {
				display: none;
			}
		}
		> .cover {
			picture img {
				width: 100%;
			}
		}
		> .nav {
		}
	}

	////////////////////////////////////////////////////////////////////////////

	@media screen and (min-width:641px) {
		//grid-template-rows: auto auto auto auto auto 1fr;
		grid-template-rows: repeat(7,auto) 1fr;
		grid-template-columns: auto 1fr;
		grid-template-areas:
			"artists artists"
			"title title"
			"details details"
			"description description"
			"tracks tracks"
			"notes notes"
			"cover cover"
			"nav nav";
		grid-row-gap: 1.5rem;
		> * {
		}
		> .title {
			.h2;
		}
		> .artists {
			.h6;
		}
		> .details, > .notes, > .description, > .tracks {
			border-left: 0.1rem solid var(--f-med);
			padding-left: 0.75rem;
			max-width: 800px;
		}
		> .details {
			display: flex;
			justify-self: start;
			//writing-mode: vertical-rl;
			.id {
				//font-weight: 700;
			}
		}
		> .notes {
			justify-self: start;
		}
		> .description {
			justify-self: start;
		}
		> .tracks {
			justify-self: start;
		}
		> .cover {
			picture img {
				@media (orientaion:landscape)  {
					max-width: 80vmin;
					max-height: 80vmin;
				}
			}
		}
		> .nav {
		}
	}

	@media screen and (min-width:1920px) {
		> .title {
			.h1;
		}
		> .artists {
			.h5;
		}
	}

	/*
	@media screen and (min-width:2560px) {
		grid-template-rows: repeat(7,auto) 1fr;
		grid-template-columns: auto 1fr;
		grid-template-areas:
			"artists artists"
			"title title"
			"details details"
			"tracks tracks"
			"notes notes"
			"description description"
			"cover cover"
			"nav nav";
		> .title {
			//font-size: 8rem;
		}
		> .artists {
			//.h4;
		}
		> .cover {
			//display: block;
		}
		> .tracks {
			//align-self: start;
		}
	}
	*/
}
