
body > main.records {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(300px,1fr) );
	@media (max-height:400px) {
		grid-template-columns: repeat(auto-fill,minmax(200px,1fr) );
	}
	align-content: start;
	//align-content: space-around;
	grid-gap: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	> a.record {
		position: relative;
		.details {
			display: flex;
			position: absolute;
			z-index: 1;
			.id {
				display: none;
				background: var(--background);
				margin-right: 0.5em;
				//text-orientation: upright;
				//direction: rtl;
				//writing-mode: vertical-rl;
			}
			.artists {
				.typo-caption;
				padding: 0px 3px 0px 3px;
				background: var(--background);
				> * {
					&:not(:last-child)::after {
						content: "+";
						margin: 0 0.75ch;
					}
				}
			}
		}
		> picture {
			> img {
				display: block;
				width: 100%;
				//max-width: 60vh;
				//max-height: 60vh;
				z-index: 2;
			}
		}
		/*
		&:hover {
			//transition: transform 0.2s;
			//transform: scale(1);
			.details {
				opacity: 1;
				>.id {
					//display: inline-block;
				}
				>.artists {
				}
			}
			img {
				transition: none;
		//		filter: none;
			}
		}
		*/
	}
}
