@media only screen and (min-width:30em) {
	::-webkit-scrollbar {
		border: none;
		width: 6px;
	}
	::-webkit-scrollbar::horizontal,
	::-webkit-scrollbar-button,
	::-webkit-scrollbar-corner {
		display: none !important;
	}
	::-webkit-scrollbar-track {
		background: var(--background);
	}
	::-webkit-scrollbar-thumb {
		background: var(--f-low);
		&:hover {
			background: var(--f-med);
		}
	}
}

@media @phone {
	::-webkit-scrollbar,
	::-webkit-scrollbar-button,
	::-webkit-scrollbar-corner {
		display: none;
	}
}
