
@header-height: 72px;

html {
	font-size: 14px;
}

body {

	width: 100vw;
	max-width: 100vw;
	//min-width: 100vh;
	height: 100vh;
	display: grid;
	overflow-x: hidden !important;
	//overflow-y: scroll;
	
	> header, > nav, > .social, > footer {
		.no-user-select;
	}
	> header, > nav {
		text-transform: uppercase !important;
	}
	> header {
		z-index: 1000;
		grid-area: header;
		display: flex;
		align-items: center;
		height: @header-height;
		line-height: @header-height;
		> .menu {
			width: 60px; //@header-height;
			height: @header-height;
			text-align: center;
			cursor: pointer;
			&:hover {
				color: var(--f_high) !important;
			}
		}
		> .title, > .page {
			display: table;
			.h5;
		}
		> .title {
			&::after { content: "™"; }
			//&::after { content: "\\"; }
		}
		> .page {
			&::before { content: "/"; }
		}
	}
	> nav {
		z-index: 100;
		grid-area: nav;
		display: flex;
		.h5;
		> a {
			//&:not(:first-child)::before {
			&::before { content: "/";}
			&.active {
				color: var(--background)!important;
				background: var(--f_med)!important;
			}
			&:not(.active):hover {
			}
		}
	}
	> main {
		z-index: 10;
		grid-area: main;
		//margin: 0 @D2;
		padding: 0 0 @D4 0;
	}
	> .social, > footer {
		z-index: 100;
		font-size: 0.75rem;
		text-transform: uppercase;
	}
	> .social {
		grid-area: social;
		display: flex;
	}
	> footer {
		grid-area: footer;
		display: flex;
	}

	/////////////////////////////////////////////////////////////////
	
	@media screen and (max-width:639px) {
		grid-template-rows: @header-height auto 1fr auto auto;
		grid-template-columns: 100%;
		grid-template-areas:
			"header"
			"nav"
			"main"
			"footer"
			"social";
		> header {
			> .title, > .page {
			}	
		}
		> nav {
			//justify-items: stretch;
			flex-direction: column;
			//flex-wrap: wrap;
			//padding: @D0 0 @D1 @D2;
			transition: margin-top 0.2s;
			//transition-delay: 0.5s;
			margin-top: -100%;
			margin-bottom: @D1;
			transform: translateX(-100%);
			.h3;
			&.show {
				transition: transform 0.2s;
				margin-top: 0;
				transform: translateX(0);
			}
			> a {
				//-webkit-tap-highlight-color: red !important;
				display: table;
				//width: 100%;
				padding: @D1 @D2 @D1 @D2;
				&:not(:last-child) {
					//margin: 0 0 @D1 0;
				}
				&.active {
					display: none;
				}
			}
		}
		main {
			margin: 0 @D2;
			padding: @D0 0 @D2 0;
			&.blur {
				//opacity: 0.5;
				pointer-events: none;
			}
		}
		> .social, > footer {
			border-top: 1px solid var(--f_med);
			margin: 0 @D2;
		}
		> .social {
			justify-content: space-around;
			align-items: center;
			font-size: 1.75em;
			height: @D12;
		}
		> footer {
			justify-content: center;
			align-items: center;
			height: @D6;
		}
	}

	/////////////////////////////////////////////////////////////////
	
	@media screen and (min-width:640px) {
		@header-height: 72px;
		grid-template-rows: @header-height 1fr auto;
		grid-template-columns: auto auto 1fr auto;
		grid-template-areas:
			"header nav nav nav"
			"main main main main"
			"social social social footer";
		> header {
			margin-left: @D4;
			> .menu, > .page { display: none; }
		}
		> header > .title, > nav a {
			//padding: @D1 0 @D025  0;
			padding: 0.375em 0 0.125em  0;
		}
		> nav {
			align-items: center;
		}
		> main {
			margin: 0 @D4;
			padding: 0 0 @D4 0;
		}
		> .social {
			justify-self: end;
			a {
				margin-right: 0.5rem;
				&:not(:first-child) { margin-left: 0.5rem; }
				//a:not(:last-child) { padding-right: 0.25rem; }
			}
		}
		> footer {
			margin: 0 @D2 @D1 @D1;
			text-align: right;
		}
	}

	@media screen and (min-width:768px) {
		> header {
			margin-left: @D4;
		}
		main {
			margin: 0 @D4;
		}
	}

	@media screen and (min-width:1280px) {
		@header-height: @D12;
		grid-template-rows: @header-height 1fr auto;
		padding-top: @D4;
		> header, > nav {
		}
		> header {
			margin-left: @D8;
			height: @header-height;
			//line-height: @header-height;
		}
		> header > .title,
		> nav a {
			//.h4;
		}
		> main {
			margin: @D2 @D8 0 @D8;
		}
		> .social, > footer {
			position: fixed;
			right: 0;
			bottom: @D2;
			writing-mode: vertical-rl;
		}
		> .social {
			transition: font-size 0.6s;
			font-size: 1.25em;
			right: @D3;
			a {
				margin-top: @D05;
				transition:  transform 0.2s;
				&:hover {
					transform-origin: center;
					transform: scale(1.2);
				}
			}
			a:not(:last-child) { margin-bottom: @D1; }
		}
		> footer {
			margin: 0;
			right: @D1;
		}
	}

	@media screen and (min-width:1920px) {
		> header {
			margin-left: @D12;
		}
		> main {
			margin: @D4 @D12;
		}
		> .social {
			font-size: 1.5em;
		}
	}
}
