
body {

	//.fade_in(0.3s);

	display: grid;

	> header, > nav, > aside.social, > footer {
		white-space: nowrap;
		.no-user-select;
	}
	> header, > nav {
		text-transform: uppercase !important;
		background: var(--background);
	}
	> header {
		grid-area: header;
		display: flex;
	}
	> nav {
		grid-area: nav;
	}
	> main {
		grid-area: main;
		article {
			max-width: 1000px;
			.seperator(@top:2rem);
			a {
				//text-decoration: underline;
				//border-bottom: 1px dotted var(--f-med);
				//transition: background .1s ease-in, color .1s ease-in;
				&:hover {
					//background: var(--b-low);
				}
				&[href^="http"]:after {
					.icon;
					content: @ic-external-link;
					padding-left: 0.375em;
					font-size: 0.7em;
					//vertical-align: middle;
				}
			}
			ul, ol {
				margin-bottom: 16px;
				padding-left: 1em;
				&.arrow {
					li {
						.ic-angle-right;
						&:before {
							.icon;
							padding-right: 0.5em;
						}
					}
				}
			}
		}
	}
	> aside.social {
		grid-area: social;
	}
	> footer {
		grid-area: footer;
		.typo-caption;
	}

	////////////////////////////////////////////////////////////////////////////

	@media (max-width:720px) {

		@header-height: 56px;
		grid-template-rows: @header-height auto 1fr auto auto;
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"nav"
			"main"
			"social"
			"footer"
			;
		> header {
			align-self: center;
			width: 100%;
			z-index: 100;
			.h6;
			> button {
				position: relative;
				top: 1px;
				margin: auto 0.75em auto 1rem;
			}
			> .title, > .page {
				position: relative;
				top: 3px;
				left: 2px;
				.h6;
				line-height: @header-height;
			}
			>.title {
				display: none;
			}
			>.page {
				&::before {
					//content: "/";
				}
			}
		}
		> nav {
			z-index: 10;
			width: 100%;
			transition: margin-top 0.2s;
			//transition-timing-function: ease-out; //cubic-bezier(0.18, 0.89, 0.29, 1.14);
			a {
				display: table;
				padding: 0.5rem 1rem;
				.h6;
				&.active {
					color: var(--f-low) !important;
				}
			}
			&.hidden {
				margin-top: -100%;
				box-shadow: none;
			}
		}
		> main {
			margin: 0 1rem;
		//	transition: opacity 0.25s;
			&.blur {
		//		opacity: 0.25;
				//filter: brightness(12%) contrast(91%) grayscale(90%);
			}
		}
		> aside.social, footer {
			margin: 0 1rem;
			padding: 1rem 0;
			border-top: 1px solid var(--f-med);
		}
		> aside.social {
			display: none;
			//TODO
			/*
			display: flex;
			justify-content: space-between;
			*/
		}
	}

	////////////////////////////////////////////////////////////////////////////

	@media (min-width:721px) {

		overflow-y: scroll;

		@margin: 48px;
		@header-height: 64px;

		grid-template-rows: @header-height 1fr auto;
		grid-template-columns: auto auto 1fr auto;
		grid-template-areas:
			"header nav nav nav"
			"main main main main"
			"social social social footer";
		grid-row-gap: 1rem;
		> header, > nav {
			align-self: end;
			.h6;
		}
		> header {
			margin-left: @margin/2;
			> button {
				display: none;
			}
			> .title {
				&::after {
					content: "™";
				}
			}
			> .page {
				display: none;
			}
		}
		> nav {
			justify-self: start;
			display: flex;
			a {
				//&::not(class="active") {
				&.active {
					color: var(--f-high);
					//background: var(--f-high);
					//border-bottom: 2px solid var(--f-med);
					//text-decoration: line-through;
				}
				&:before {
					content:"/";
				}
			}
			a:not(.active) {
			}
		}
		> main {
			margin: 0 @margin;
		}
		> aside.social, > footer {
			.typo-overline;
		}
		> aside.social {
			justify-self: end;
			//writing-mode: vertical-rl;
			margin-right: 0.5em;
			* {
				padding: 0 0.25em;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		> footer {
			//align-self: end;
			padding: 0 12px 4px 4px;
		}
	}

	/*
	@media screen and (min-width:1280px) {
		@margin: 72px;
		@header-height: 64px;
		grid-template-rows: @header-height 1fr auto;
		grid-row-gap: 1rem;
		> header {
			margin: 0 @margin;
		}
		> main {
			//margin: 0 48px;
		}
	}
	*/
}
