
body {

	display: grid;

	//overflow-y: scroll;
	//.fade_in(0.3s);

	> header, > nav, > aside.social, > footer {
		white-space: nowrap;
		.no-user-select;
	}
	> header, > nav {
		text-transform: uppercase !important;
		background: var(--color-bg);
	}
	> header {
		grid-area: header;
		display: flex;
	}
	> nav {
		grid-area: nav;
	}
	> main {
		grid-area: main;
		article {
			max-width: 1000px;
			.seperator(@top:2rem);
			a {
				//text-decoration: underline;
				//border-bottom: 1px dotted var(--color-fm);
				//transition: background .1s ease-in, color .1s ease-in;
				//transition: color 5.5s ease-in;
				&:hover {
					//background: var(--color-bl);
				}
				&[href^="http"]:after {
					.icon;
					content: @ic-external-link;
					padding-left: 0.375em;
					font-size: 0.7em;
					//vertical-align: middle;
				}
			}
			ul, ol {
				margin-bottom: 16px;
				padding-left: 1em;
				&.arrow {
					li {
						.ic-angle-right;
						&:before {
							.icon;
							padding-right: 0.5em;
						}
					}
				}
			}
		}
	}
	> aside.social {
		grid-area: social;
		//display: flex;
	}
	> footer {
		grid-area: footer;
	}

	////////////////////////////////////////////////////////////////////////////

	//@media @phone {
	//@media (orientation:portrait) and (max-height:720px), (orientation:landscape) and (max-width:720px) {
	@media (max-width:720px) {

		@header-height: 48px;
		grid-template-rows: @header-height auto 1fr auto auto;
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"nav"
			"main"
			"social"
			"footer"
			;
		> header {
			position: fixed;
			top: 0;
			width: 100%;
			align-self: center;
			z-index: 100;
			.h6;
			box-shadow: 0 2px 6px rgba(0,0,0,0.5);
			> button {
				.icon;
				.ic-menu;
				font-size: 1.375em;
				font-weight: 700;
				width: 48px;
				height: @header-height;
				//position: relative;
				//left: 2px;
				color: var(--color-fm);
				line-height: 1;
				&.show {
					.ic-close;
				}
			}
			> .title, > .page {
				position: relative;
				top: 3px;
				left: 2px;
				.h6;
				line-height: @header-height;
			}
			>.title {
				display: none;
			}
			>.page {
				&::before {
					//content: "/";
				}
			}
		}
		> nav {
			position: fixed;
			top: @header-height;
			left: 0;
			width: 100%;
			padding: 16px 8px 12px 16px;
			transform: translateY(-100%);
			transition: transform 0.15s;
			transition-timing-function: ease-in-out; //cubic-bezier(0.18, 0.89, 0.29, 1.14);
			background: var(--color-bg);
			z-index: 10;
			&.show {
				//transition: transform 0.1s;
				transform: translateY(0);
				box-shadow: 0 2px 6px rgba(0,0,0,0.5);
			}
			a {
				display: table;
				padding: 4px 8px 2px 8px;
				.h6;
				&.active {
					color: var(--color-fl) !important;
				}
			}
		}
		> main {
			margin: 0 1rem;
		}
		> aside.social, footer {
			margin: 0 1rem;
			padding: 1rem 0;
			border-top: 1px solid var(--color-fm);
		}
		> aside.social {
			display: none;
			/*
			display: flex;
			justify-content: space-between;
			* {
				margin: 0 0.5rem;
				font-size: 1.5rem;
			}
			*/
		}
		> footer {
			font-size: 0.75rem !important;
		}
	}

	////////////////////////////////////////////////////////////////////////////

	@media (min-width:720px) {

		overflow-y: scroll;

		@margin: 48px;
		@header-height: 64px;

		grid-template-rows: @header-height 1fr auto;
		grid-template-columns: auto auto 1fr auto;
		grid-template-areas:
			"header nav nav nav"
			"main main main main"
			"social social social footer";
		/*
		grid-template-rows: @header-height 1fr 1fr auto;
		grid-template-columns: auto 1fr 24px;
		grid-template-areas:
		"header nav nav"
		"main main footer"
		"main main footer"
		"main main social";
		*/
		grid-row-gap: 1rem;
		> header, > nav {
			align-self: end;
			.h6;
		}
		> header {
			margin-left: @margin/2;
			> button {
				display: none;
			}
			> .title {
				&::after {
					content: "™";
				}
			}
			> .page {
				display: none;
			}
		}
		> nav {
			justify-self: start;
			display: flex;
			a {
				//&::not(class="active") {
				//padding: 5px 0px 0px 0px;
				&.active {
					color: var(--color-fh);
					//background: var(--color-fh);
					//border-bottom: 2px solid var(--color-fm);
					//text-decoration: line-through;
				}
				&:before {
					content:"/";
				}
			}
			a:not(.active) {
			}
		}
		> main {
			margin: 0 @margin;
		}
		> aside.social, > footer {
			//align-self: start;
			.typo-overline;
		}
		> aside.social {
			justify-self: end;
			//align-self: end;
			//writing-mode: vertical-rl;
			padding: 0 0 4px 4px;
			* {
				padding: 0 0.375rem;
				&:hover {
					transform: scale(1.1);
				}
			}
		}
		> footer {
			//align-self: end;
			padding: 0 12px 4px 4px;
			//text-orientation: upright;
			//direction: rtl;
			//writing-mode: vertical-rl;
		}
	}

	/*
	@media screen and (min-width:1280px) {
		@margin: 72px;
		@header-height: 64px;
		grid-template-rows: @header-height 1fr auto;
		grid-row-gap: 1rem;
		> header {
			margin: 0 @margin;
		}
		> main {
			//margin: 0 48px;
		}
	}
	*/
}
