{{ define "main" }}
	{{ if .Content }}<article class="content">{{- .Content -}}</article>{{ end }}
	<ol class="records">
		{{ $paginator := .Paginate .Pages }}
		{{ range $paginator.Pages }}
		{{ $record := .Params }}
			<li class="record">
				<a href="{{ .Permalink }}">
					{{ partial "cover" . }}
					<div class="inner">
						<div class="details">
							<h2 class="name">{{ $record.name }}</h2>
							<ul class="artists">
								{{ range $artist := $record.artists }}
								<li>{{ $artist }}</li>
								{{ end }}
							</ul>
						</div>
					</div>
				</a>
			</li>
		{{ end }}
	</ol>
{{ end }}
