{{ define "main" }}
    {{ $record := .Params }}
    {{ $year := .Date.Format "2006" }}
    <article class="record">
		<header>
			<h1 class="name">{{ $record.name }}</h1>
			<div class="details">
				<div class="id">{{ $record.title }}</div>
				<ul class="artists">
					{{ range $artist := $record.artists }}
					<li>
						{{ $page := $.Site.GetPage (printf "/%s/%s" "artists" ($artist | urlize))}}
						<a href="{{ $page.Permalink }}">{{- $artist -}}</a>
					</li>
					{{ end }}
				</ul>
				
				<time class="date"><a href="/years/{{$year}}">{{ $year }}</a></time>

				<div class="format">
					{{ if $record.format.type }}<span class="type">{{ $record.format.type }}</span>{{ end }}
					{{ if $record.format.size }}<span class="size">{{ $record.format.size }}</span>{{ end }}
					{{ if $record.format.rpm }}<span class="rpm">{{ $record.format.rpm }}</span>{{ end }}
				</div>
				<ul class="links">
					{{ range $link := $record.links }}
					<li><a href="{{$link.uri}}" title="{{$link.type}}"><i class="ic-{{$link.name}}"></i></a></li>
					{{ end }}
				</ul>
			</div>
		</header>
		
		<!-- {{ partial "audioplayer" .}} -->

		{{ if $record.tracks }}
		<ol class="tracks">
            {{ range $track := $record.tracks }}
            <li>
				<span class="position">{{- index $track "position" -}}</span>
				<span class="name">{{- index $track "name" -}}</span>
				<span class="duration">{{- index $track "duration" -}}</span>
			</li>
            {{ end }}
		</ol>
		{{ end }}

		{{ if $record.format.description }}<div class="description">{{- $record.description -}}</div>{{ end }}
		{{ if .Content }}<div class="description">{{- .Content -}}</div>{{ end }}

		{{ partial "vinyl" .}}

		<style>
				#vinyl {
					fill: #010101;
				}
				#label {
					fill: var(--f_med);
				}
				#label:hover {
					fill: var(--f_high);
					/* stroke: var(--f_high); */
					cursor: crosshair;
				}
		</style>

		<!-- <div class="cover">
			<picture>
				<source srcset="{{.Title}}.webp" type="image/webp"/>
				<img class="front" src="{{.Title}}.jpg" alt="cover-front"/>
			</picture>
		</div> -->

	</article>

	{{ partial "pagination.html" . }}
{{ end }}
