{{ define "main" }}
    {{ $record := .Params }}
    <article class="record">
		<header>
			<h1 class="name">{{ $record.name }}</h1>
			<div class="details">
				<div class="id">{{ $record.id }}</div>
				<ul class="artists">
					{{ range $artist := .Params.artists }}
					<li>
						<!-- <a href="/artists/{{$artist}}">{{ $artist }}</a> -->
						{{ $artist }}
					</li>
					{{ end }}
				</ul>
				<time class="date">{{ .Date.Format "2006" }}</time>
				<div class="format">
					<span class="type">{{ $record.format.type }}</span>
					<span class="size">{{ $record.format.size }}</span>
					<span class="rpm">{{ $record.format.rpm }}</span>
				</div>
				<ul class="links">
					{{ range $link := $record.links }}
					<li><a href="{{$link.uri}}"><i class="ic-{{$link.name}}"></i></a></li>
					{{ end }}
				</ul>
			</div>
		</header>
		<ol class="tracks">
            {{ range $track := $record.tracks }}
            <li>
				<span class="position">{{ index $track "position" }}</span>
				<span class="name">{{ index $track "name" }}</span>
				<span class="duration">{{ index $track "duration" }}</span>
			</li>
            {{ end }}
        </ol>
		<div class="description">{{- .Params.description -}}</div>
        <div class="content">{{- .Content -}}</div>
		<div class="cover">
			<img src="{{.Title}}.jpg" alt="{{.Title}}-front">
			<img src="{{.Title}}_back.jpg" alt="{{.Title}}-back">
		</div>
    </article>
{{ end }}
