_*
*.[0-9].*
*.css.map
*.js.map
*.zip
.vscode

bin/cfg
!bin/cfg/active
!bin/cfg/default.json
bin/css/app.css*
bin/css/theme/*.svg
bin/lib
bin/msh
bin/res
bin/scr/app.js*
bin/snd
bin/*.php
exp/
res/icon/*.png
res/model
!res/model/*.blend
res/theme
.log/
HELP.md
NOTES.md
