
@vp-small: 30em;
@vp-medium: 60em;
@vp-large: 1920px;

@line-height: 1.5em;

@font-path: 'font';
@font-family-regular: "FontRegular";
@font-family-title: "FontTitle";
@font-family-icon: "icon";
@font-family-ascii: 'MicroKnight';
@font-family-ascii-plus: 'P0T-NOoDLE';

:root {

	--line-height: @line-height;

	--font-size: 12px; //.825rem;
	--font-family-regular: @font-family-regular;
	--font-family-title: @font-family-title;
	--font-family-icon: @font-family-icon;

	@media screen and (min-width: @vp-medium) {
		//--font-size: 13px;
		//--font-size: 13px;
		// --h1-size: 5rem;
		// --h2-size: 4rem;
		// --h3-size: 3rem;
	}
	@media screen and (min-width: @vp-large) {
		//--font-size: 14px;
		// --h1-size: 6rem;
		// --h2-size: 5em;
		// --h3-size: 4rem;
	}
}
