
@header-height: 4rem;

body {
	
	display: grid;
	grid-template-columns: [site-start] auto [content-start] 1fr [content-end] auto [site-end];
	grid-template-rows: @header-height auto [content-start] 1fr [content-end] auto auto;
	//grid-template-rows: @header-height auto [content-start] 1fr [content-end] auto auto;
	//gap: 1rem;

	visibility: hidden;

	> header, > nav, > aside, > footer {
		text-transform: uppercase;
		user-select: none;
	}
	> header, > nav {
		font-family: @font-family-title;
		font-size: 2em;
		letter-spacing: -0.075em; //TODO
	}

	> header {
		//background: yellow;
		grid-column: site-start / site-end;
		grid-row: 1 / span 1;
		display: flex;
		align-items: center;
		height: @header-height;
		line-height: @header-height;
		cursor: default;
		>.menu {
			margin: 0 0.5rem 0 1rem;
			//background: red;
			//width: @header-height;
			height: @header-height;
			//height: 50%;
			text-align: center;
			cursor: pointer;
			&:hover {
				color: var(--f_high);
			}
		}
		>.title {
			&::after { content: "™"; }
		}
	}
	> nav {
		//background: blue;
		grid-column: site-start / site-end;
		grid-row: 2 / span 1;
		//line-height: @header-height;
		text-transform: uppercase;
		margin-top: -100%;
		transform: translateX(-100%);
		transition: transform 0.1s;
		&.show {
			margin-top: 0;
			transform: translateX(0);
		}
		ul {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			li {
				a {
					transition: color 0.1s;
					&::before {
						content: "/";
					}
					&.active {
						pointer-events: none;
						color: var(--background)!important;
						background: var(--f_med)!important;
					}
				}
			}
		}
	}
	> main {
		grid-column: site-start / site-end;
		grid-row: content-start / content-end;
		width: 100%;
		padding: 1rem 1rem 2rem 1rem;
		transition: opacity 0.2s;
		&.blur {
			opacity: 0.2;
			pointer-events: none;
		}
		> ul {
			li {
				margin-bottom: 2rem;
			}
		}
		> article {
			width: 100%;
		}
	}
	> aside {
		grid-column: site-start / site-end;
		grid-row: 5 / span 1;
		display: flex;
	}
	> footer {
		grid-column: site-start / site-end;
		grid-row: 4 / span 1;
		display: flex;
		align-items: center;
		//font-size: 0.5rem;
		user-select: none;
	}
	
	@media screen and (max-width: @vp-medium) {
		> header {
			> .page {
				&::before { content: "/"; }
			}
		}
		> nav {
			> ul {
				li {
					margin-left: 1rem;
					padding: 0.5em 1em;
				}
			}
		}
		> aside {
			justify-content: end;
			font-size: 2em;
			justify-content: space-around;
			margin: 1rem 1rem;
			a {
				padding: 0.5em 0.5em;
			}
		}
		> footer {
			justify-content: center;
			padding: 1.5rem 0;
			margin: 0 1rem;
			border-top: 1px solid var(--f_med);
			border-bottom: 1px solid var(--f_med);
		}
	}

	@media screen and (min-width: @vp-medium) {
		> header {
			grid-column: site-start / span 1;
			margin-top: 2rem;
			margin-bottom: 1rem;
			margin-left: 4rem;
			>.menu, >.page {
				display: none;
			}
		}
		> nav {
			grid-column: 2 / span 3;
			grid-row: 1 / span 1;
			margin-top: 2rem;
			margin-bottom: 2rem;
			transform: translateX(0);
			ul {
				flex-direction: row;
				li {
					line-height: @header-height;
				}
			}
		}
		> main {
			padding: 4rem 8rem 8rem 8rem;
		}
		> aside {
			grid-column: 1 / span 2;
			grid-row: 5 / span 1;
			justify-content: flex-end;
			margin-right: 0.5em;
			margin-bottom: 0.5rem;
			a {
				padding: 0 0.5em;
			}
		}
		> footer {
			grid-column: 3 / span 1;
			grid-row: 5 / span 1;
			justify-content: flex-end;
			margin-right: 1rem;
			margin-bottom: 0.5rem;
			font-size: 0.75rem;
		}
	}
	
	//@media screen and (min-width: @vp-large) {
}
