@font-face {
  font-family: 'FontRegular';
  font-display: block;
  src: local('Liberation Mono'), url('../fnt/liberation_mono-regular.woff2') format('woff2'), url('../fnt/liberation_mono-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'FontTitle';
  font-display: block;
  src: url('../fnt/helvetica_neue_65.woff2') format('woff2'), url('../fnt/helvetica_neue_65.woff') format('woff'), url('../fnt/helvetica_neue_65.ttf') format('truetype');
}
@font-face {
  font-family: 'FontIcon';
  font-display: block;
  src: url('../fnt/fa.woff2') format('woff2'), url('../fnt/fa.woff') format('woff'), url('../fnt/fa.ttf') format('truetype'), url('../fnt/fa.svg') format('svg');
}
:root {
  --background: #101111;
  --f-high: #919794;
  --f-med: #5e6461;
  --f-low: #2d2f2e;
  --f-inv: #fff;
  --b-high: #292b2b;
  --b-med: #101111;
  --b-low: #000000;
  --b-inv: #000;
}
.background {
  color: var(--background);
}
.f-high {
  color: var(--f-high);
}
.f-med {
  color: var(--f-med);
}
.f-low {
  color: var(--f-low);
}
.b-high {
  color: var(--b-high);
}
.b-med {
  color: var(--b-med);
}
.b-low {
  color: var(--b-low);
}
html {
  font-family: 'FontRegular';
}
body {
  font-family: 'FontRegular';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.01785714em;
  text-transform: inherit;
  background: var(--background);
  color: var(--f-med);
  -webkit-tap-highlight-color: var(--f-med);
}
::selection {
  color: var(--f-inv) !important;
  background: var(--b-inv) !important;
}
.h1 {
  font-family: 'FontTitle';
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
  text-transform: inherit;
  letter-spacing: -0.015625em;
}
.h2 {
  font-family: 'FontTitle';
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 3.75rem;
  text-transform: inherit;
  letter-spacing: -0.00833333em;
}
.h3 {
  font-family: 'FontTitle';
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.125rem;
  text-transform: inherit;
  letter-spacing: normal;
}
.h4 {
  font-family: 'FontTitle';
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: inherit;
  letter-spacing: 0.00735294em;
}
.h5 {
  font-family: 'FontTitle';
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: inherit;
  letter-spacing: normal;
}
.h6 {
  font-family: 'FontTitle';
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: inherit;
  letter-spacing: 0.0125em;
}
h1 {
  font-family: 'FontTitle';
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
  text-transform: inherit;
  letter-spacing: -0.015625em;
}
h2 {
  font-family: 'FontTitle';
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 3.75rem;
  text-transform: inherit;
  letter-spacing: -0.00833333em;
}
h3 {
  font-family: 'FontTitle';
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.125rem;
  text-transform: inherit;
  letter-spacing: normal;
}
h4 {
  font-family: 'FontTitle';
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: inherit;
  letter-spacing: 0.00735294em;
}
h5 {
  font-family: 'FontTitle';
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: inherit;
  letter-spacing: normal;
}
h6 {
  font-family: 'FontTitle';
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  text-transform: inherit;
  letter-spacing: 0.0125em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'FontTitle';
  margin: 0;
}
p {
  margin: 0 0 1rem;
}
a {
  outline: none;
  color: var(--f-med);
  /*
	&:focus {
		//border-radius: 4px;
		//transition: border 1s;
		//border: 1px solid var(--f-med);
		//background: var(--f-med);
		//color: var(--background);
	}
	*/
}
a[href]:hover {
  transition: color 0.1s;
  color: var(--f-high);
}
a:focus {
  color: var(--f-high);
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  outline: none;
  background: transparent;
}
.hamburger {
  overflow: visible;
  width: 24px;
  height: 16px;
  text-transform: none;
  border: 0;
  /*
	&.is-active {
		.hamburger-box .hamburger-inner {
			&, &::before, &::after  {
				//background: red;
			}
		}
	}
	*/
  padding: 0px 0px;
  cursor: pointer;
}
.hamburger > .hamburger-box {
  display: inline-block;
  width: 24px;
  height: 8px;
  position: relative;
}
.hamburger > .hamburger-box > .hamburger-inner {
  display: block;
}
.hamburger > .hamburger-box > .hamburger-inner,
.hamburger > .hamburger-box > .hamburger-inner::before,
.hamburger > .hamburger-box > .hamburger-inner::after {
  width: 24px;
  height: 4px;
  position: absolute;
  background: var(--f-med);
}
.hamburger > .hamburger-box > .hamburger-inner::before,
.hamburger > .hamburger-box > .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger > .hamburger-box > .hamburger-inner::before {
  top: -6px;
}
.hamburger > .hamburger-box > .hamburger-inner::after {
  bottom: -6px;
}
.hamburger .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.icon {
  font-family: 'FontIcon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: normal;
  text-transform: none;
  speak: none;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="ic-"],
[class*=" ic-"] {
  font-family: 'FontIcon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: normal;
  text-transform: none;
  speak: none;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ic-angle-double-left:before {
  content: "\f100";
}
.ic-angle-double-right:before {
  content: "\f101";
}
.ic-angle-left:before {
  content: "\f104";
}
.ic-angle-right:before {
  content: "\f105";
}
.ic-arrow-right:before {
  content: "\f178";
}
.ic-arrow-left:before {
  content: "\f177";
}
.ic-long-arrow-right:before {
  content: "\f178";
}
.ic-long-arrow-left:before {
  content: "\f177";
}
.ic-bandcamp:before {
  content: "\f2d5";
}
.ic-bigcartel:before {
  content: "\e900";
}
.ic-bars:before {
  content: "\f0c9";
}
.ic-ellipsis-v:before {
  content: "\f142";
}
.ic-ellipsis-h:before {
  content: "\f141";
}
.ic-caret-left:before {
  content: "\f0d9";
}
.ic-caret-right:before {
  content: "\f0da";
}
.ic-circle:before {
  content: "\f192";
}
.ic-close:before {
  content: "\e5cd";
}
.ic-copyright:before {
  content: "\f1f9";
}
.ic-diamond:before {
  content: "\f219";
}
.ic-discogs:before {
  content: "\e901";
}
.ic-email:before {
  content: "\f0e0";
}
.ic-external-link:before {
  content: "\f08e";
}
.ic-feed:before {
  content: "\f09e";
}
.ic-fiber-new:before {
  content: "\e05e";
}
.ic-file-audio:before {
  content: "\f1c7";
}
.ic-file-sound:before {
  content: "\f1c7";
}
.ic-link:before {
  content: "\f08e";
}
.ic-instagram:before {
  content: "\f16d";
}
.ic-menu:before {
  content: "\e5d2";
}
.ic-music:before {
  content: "\f001";
}
.ic-navicon:before {
  content: "\f0c9";
}
.ic-play:before {
  content: "\f04b";
}
.ic-pause:before {
  content: "\f04c";
}
.ic-stop:before {
  content: "\f04d";
}
.ic-tv:before {
  content: "\f26c";
}
.ic-twitter:before {
  content: "\f099";
}
@media only screen and (min-width: 30em) {
  ::-webkit-scrollbar {
    border: none;
    width: 6px;
  }
  ::-webkit-scrollbar::horizontal,
  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner {
    display: none !important;
  }
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
  ::-webkit-scrollbar-thumb {
    background: var(--f-low);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--f-med);
  }
}
@media (-webkit-min-device-pixel-ratio:2) and (orientation:portrait) and (max-width:30em),
		  (-webkit-min-device-pixel-ratio:2) and (orientation:landscape) and (max-height:30em) {
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-button,
  ::-webkit-scrollbar-corner {
    display: none;
  }
}
body {
  display: grid;
  /*
	@media screen and (min-width:1280px) {
		@margin: 72px;
		@header-height: 64px;
		grid-template-rows: @header-height 1fr auto;
		grid-row-gap: 1rem;
		> header {
			margin: 0 @margin;
		}
		> main {
			//margin: 0 48px;
		}
	}
	*/
}
body > header,
body > nav,
body > aside.social,
body > footer {
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
}
body > header,
body > nav {
  text-transform: uppercase !important;
}
body > header {
  grid-area: header;
  display: flex;
  background: var(--background);
}
body > nav {
  grid-area: nav;
}
body > main {
  grid-area: main;
}
body > main article {
  max-width: 1000px;
}
body > main article:before {
  display: block;
  content: "";
  background: var(--f-med);
  width: 1rem;
  height: 0.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
body > main article a {
  border-bottom: 1px dotted var(--b-high);
}
body > main article a[href^="http"]:after {
  font-family: 'FontIcon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: normal;
  text-transform: none;
  speak: none;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f08e";
  padding-left: 0.375em;
  font-size: 0.7em;
}
body > main article ul,
body > main article ol {
  margin-bottom: 16px;
  padding-left: 1em;
}
body > main article ul.arrow li:before,
body > main article ol.arrow li:before {
  content: "\f105";
}
body > main article ul.arrow li:before,
body > main article ol.arrow li:before {
  font-family: 'FontIcon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: normal;
  text-transform: none;
  speak: none;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.5em;
}
body > aside.social {
  grid-area: social;
}
body > footer {
  grid-area: footer;
  font-family: 'FontRegular';
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.03333333em;
  text-transform: inherit;
}
@media (max-width: 720px) {
  body {
    grid-template-rows: 56px auto 1fr auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "main" "social" "footer";
  }
  body > header {
    align-self: center;
    width: 100%;
    z-index: 100;
    font-family: 'FontTitle';
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: inherit;
    letter-spacing: 0.0125em;
  }
  body > header > button {
    position: relative;
    margin: auto 0.75em auto 1rem;
  }
  body > header > .title,
  body > header > .page {
    position: relative;
    top: 1px;
    left: 2px;
    font-family: 'FontTitle';
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: inherit;
    letter-spacing: 0.0125em;
    line-height: 56px;
  }
  body > header > .title {
    display: none;
  }
  body > nav {
    z-index: 10;
    width: 100%;
    transition: margin-top 0.2s;
  }
  body > nav a {
    display: table;
    padding: 0.5rem 1rem;
    font-family: 'FontTitle';
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: inherit;
    letter-spacing: 0.0125em;
  }
  body > nav a.active {
    color: var(--f-low) !important;
  }
  body > nav.hidden {
    margin-top: -100%;
    box-shadow: none;
  }
  body > main {
    margin: 0 16px;
  }
  body > aside.social,
  body footer {
    margin: 0 16px;
    padding: 1rem 0;
    border-top: 1px solid var(--f-med);
  }
  body > aside.social {
    display: none;
    /*
			display: flex;
			justify-content: space-between;
			*/
  }
}
@media (min-width: 721px) {
  body {
    overflow-y: scroll;
    grid-template-rows: 64px 1fr auto;
    grid-template-columns: auto auto 1fr auto;
    grid-template-areas: "header nav nav nav" "main main main main" "social social social footer";
    grid-row-gap: 1rem;
  }
  body > header,
  body > nav {
    align-self: end;
    font-family: 'FontTitle';
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: inherit;
    letter-spacing: 0.0125em;
  }
  body > header {
    margin-left: 24px;
  }
  body > header > button {
    display: none;
  }
  body > header > .title::after {
    content: "™";
  }
  body > header > .page {
    display: none;
  }
  body > nav {
    justify-self: start;
    display: flex;
  }
  body > nav * {
    padding: 6px 0px 0px 0px;
  }
  body > nav a.active {
    color: var(--background) !important;
    background: var(--f-med);
  }
  body > nav a:before {
    content: "/";
  }
  body > main {
    margin: 0 48px;
    animation: fade_in 0.2s;
  }
  body > aside.social,
  body > footer {
    font-family: 'FontRegular';
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
  body > aside.social {
    justify-self: end;
    margin-right: 0.5em;
  }
  body > aside.social * {
    padding: 0 0.25em;
  }
  body > aside.social *:hover {
    transform: scale(1.1);
  }
  body > footer {
    padding: 0 12px 4px 4px;
  }
}
body > main.records {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-content: start;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (max-height: 400px) {
  body > main.records {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
body > main.records > a.record {
  position: relative;
  /*
		&:hover {
			//transition: transform 0.2s;
			//transform: scale(1);
			.details {
				opacity: 1;
				>.id {
					//display: inline-block;
				}
				>.artists {
				}
			}
			img {
				transition: none;
		//		filter: none;
			}
		}
		*/
}
body > main.records > a.record .details {
  display: flex;
  position: absolute;
  z-index: 100;
}
body > main.records > a.record .details .id {
  display: none;
  background: var(--background);
  margin-right: 0.5em;
}
body > main.records > a.record .details .artists {
  font-family: 'FontRegular';
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.03333333em;
  text-transform: inherit;
  padding: 0px 3px 0px 3px;
  background: var(--background);
}
body > main.records > a.record .details .artists > *:not(:last-child)::after {
  content: "+";
  margin: 0 0.75ch;
}
body > main.records > a.record > picture > img {
  display: block;
  width: 100%;
}
body > main.record {
  display: grid;
  /*
	@media screen and (min-width:2560px) {
		grid-template-rows: repeat(7,auto) 1fr;
		grid-template-columns: auto 1fr;
		grid-template-areas:
			"artists artists"
			"title title"
			"details details"
			"tracks tracks"
			"notes notes"
			"description description"
			"cover cover"
			"nav nav";
		> .title {
			//font-size: 8rem;
		}
		> .artists {
			//.h4;
		}
		> .cover {
			//display: block;
		}
		> .tracks {
			//align-self: start;
		}
	}
	*/
}
body > main.record > .title {
  grid-area: title;
  font-family: 'FontTitle';
}
body > main.record > .title::after {
  content: ".";
}
body > main.record > .artists {
  grid-area: artists;
}
body > main.record > .artists:before {
  display: block;
  content: "";
  background: var(--f-med);
  width: 1rem;
  height: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
body > main.record > .artists *:not(:last-child)::after {
  content: "+";
  margin: 0 0.75ch;
}
body > main.record > .title {
  cursor: default;
}
body > main.record > .details {
  grid-area: details;
  display: flex;
}
body > main.record > .details > *:not(:last-child)::after {
  content: "-";
  margin: 0 1ch;
}
body > main.record > .details > .format::before {
  padding-right: 1ch;
}
body > main.record > .details > .year::before {
  padding-right: 1ch;
}
body > main.record > .cover {
  grid-area: cover;
}
body > main.record > .cover picture img {
  display: block;
  width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}
@media (orientation: portrait) {
  body > main.record > .cover picture.front img {
    padding-bottom: 0.75em;
  }
}
@media (orientation: landscape) {
  body > main.record > .cover {
    display: flex;
  }
  body > main.record > .cover picture.front img {
    padding-right: 0.5rem;
  }
  body > main.record > .cover picture.back img {
    padding-left: 0.5rem;
  }
}
body > main.record > .notes {
  grid-area: notes;
}
body > main.record > .tracks {
  grid-area: tracks;
}
body > main.record > .tracks .track .position::after {
  padding-left: 0.5rem;
  content: "-";
}
body > main.record > .description {
  grid-area: description;
}
body > main.record > .nav {
  grid-area: nav;
  font-family: 'FontRegular';
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.03333333em;
  text-transform: inherit;
  user-select: none;
  -webkit-user-select: none;
}
body > main.record > .nav a {
  font-family: 'FontIcon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  letter-spacing: normal;
  text-transform: none;
  speak: none;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > main.record > .nav a.prev::before {
  padding-right: 0.5ch;
  content: "\f0d9";
}
body > main.record > .nav a.next::after {
  padding-left: 0.5ch;
  content: "\f0da";
}
@media screen and (max-width: 640px) {
  body > main.record {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto) 4rem;
    grid-template-areas: "artists" "title" "details" "tracks" "notes" "description" "cover" "nav";
    grid-row-gap: 1em;
  }
  body > main.record > .details,
  body > main.record > .notes,
  body > main.record > .description,
  body > main.record > .tracks {
    padding-left: 0.75rem;
    border-left: 1px solid var(--f-med);
  }
  body > main.record > .artists {
    font-family: 'FontTitle';
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: inherit;
    letter-spacing: 0.0125em;
  }
  body > main.record > .artists:before {
    display: block;
    content: "";
    background: var(--f-med);
    width: 1rem;
    height: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  body > main.record > .title {
    font-family: 'FontTitle';
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.125rem;
    text-transform: inherit;
    letter-spacing: normal;
  }
  body > main.record > .details {
    display: flex;
  }
  body > main.record > .details .id {
    display: none;
  }
  body > main.record > .cover picture img {
    width: 100%;
  }
}
@media screen and (min-width: 641px) {
  body > main.record {
    grid-template-rows: repeat(7, auto) 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas: "artists artists" "title title" "details details" "tracks tracks" "notes notes" "description description" "cover cover" "nav nav";
    grid-row-gap: 1.5rem;
  }
  body > main.record > .title {
    font-family: 'FontTitle';
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 3.75rem;
    text-transform: inherit;
    letter-spacing: -0.00833333em;
  }
  body > main.record > .artists {
    font-family: 'FontTitle';
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: inherit;
    letter-spacing: 0.0125em;
  }
  body > main.record > .details,
  body > main.record > .notes,
  body > main.record > .description,
  body > main.record > .tracks {
    border-left: 1px solid var(--f-med);
    padding-left: 0.75rem;
    max-width: 800px;
  }
  body > main.record > .details {
    display: flex;
    justify-self: start;
  }
  body > main.record > .notes {
    justify-self: start;
  }
  body > main.record > .description {
    justify-self: start;
  }
  body > main.record > .tracks {
    justify-self: start;
  }
}
@media screen and (min-width: 641px) and (orientaion: landscape) {
  body > main.record > .cover picture img {
    max-width: 80vmin;
    max-height: 80vmin;
  }
}
@media screen and (min-width: 1920px) {
  body > main.record > .title {
    font-family: 'FontTitle';
    font-size: 6rem;
    font-weight: 700;
    line-height: 6rem;
    text-transform: inherit;
    letter-spacing: -0.015625em;
  }
  body > main.record > .artists {
    font-family: 'FontTitle';
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    text-transform: inherit;
    letter-spacing: normal;
  }
}
@keyframes fade_in {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* ––– ENRON-COLOR –––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––– ENRON-DEBUG –––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––– ENRON-MEDIA –––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––– ENRON-SELECTION –––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––– ENRON-TYPOGRAPHY ––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––– ENRON-INTERACTION –––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––– ENRON-HAMBURGER –––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
.hamburger--3dx( @layer-width: 40px; @layer-height: 4px; @layer-spacing: 6px ) {
	.hamburger-box {
		perspective: @layer-width * 2;
	}
	.hamburger-inner {
		transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
            		background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
		&::before, &::after {
			transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
		}
	}
	&.is-active .hamburger-inner {
		background-color: transparent !important;
        transform: rotateY(180deg);
		&::before {
			transform: translate3d(0, @layer-height + @layer-spacing, 0) rotate(45deg);
		}
		&::after {
			transform: translate3d(0, (@layer-height + @layer-spacing) * -1, 0) rotate(-45deg);
		}
	}
}
*/
/*
.hamburger--elastic( @layer-height: 40px; @layer-spacing: 6px ) {
	.hamburger-inner {
		top: @layer-height / 2;
	 	transition-duration: 0.275s;
	 	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
		&::before {
			top: @layer-height + @layer-spacing;
        	transition: opacity 0.125s 0.275s ease;
		}
		&::after {
			top: (@layer-height * 2) + (@layer-spacing * 2);
        	transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
	}
	@y-offset: @layer-spacing + @layer-height;
	&.is-active .hamburger-inner {
        transform: translate3d(0, @y-offset, 0) rotate(135deg);
        transition-delay: 0.075s;
		&::before {
			transition-delay: 0s;
			opacity: 0;
		}
		&::after {
			transform: translate3d(0, @y-offset * -2, 0) rotate(-270deg);
        	transition-delay: 0.075s;
		}
	}
}
*/
/*
.hamburger--spring( @layer-width: 40px; @layer-height: 4px; @layer-spacing: 6px ) {
	.hamburger-inner {
		top: @layer-height / 2;
		transition: background-color 0s 0.13s linear;
      	transition: background-color 0s 0.13s linear;
		&::before {
			top: @layer-height + @layer-spacing;
	   			 transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
				   transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
		&::after {
			top: (@layer-height * 2) + (@layer-spacing * 2);
	   				transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
				   transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}
	&.is-active .hamburger-inner {
		transition-delay: 0.22s;
        background-color: transparent !important;
		&::before {
			top: 0;
        	transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                      transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        	transform: translate3d(0, @layer-spacing + @layer-height, 0) rotate(45deg);
		}
		&::after {
			top: 0;
        	transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
                      transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        	transform: translate3d(0, @layer-spacing + @layer-height, 0) rotate(-45deg);
		}
	}
}
*/
/* ––– ENRON-PRINT –––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
@media print {
  *,
  *::after,
  *::before {
    box-shadow: none !important;
    text-shadow: none !important;
  }
}
