
body > main.records > a.record {
	overflow: hidden;
}

body > main.records > a.record picture img {
	object-fit: cover;
	transform: scale(1);
	transition: all 5s;
	transition-timing-function: ease-in-out;
	/*
	overflow: hidden;
	transition: object-position 3.5s;
	*/
}
body > main.records > a.record picture img:hover {
	transform: scale(1.1);
	transition: transform 20s;
	/*
	transition: transform 0.1s;
	object-position: 20%;
	*/
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	/* IE10+ specific styles go here */  
	picture > img{
		width: 600px !important;
		margin-right: 10px;
		margin-top: 10px;
	}
	
	div.details > div.artists{
		display: block;
		width: 600px;
		margin-left: 30px;
		margin-top: 30px;
		color: #FFFFFF;
	}
	
	body.site-layout > main.records{
		display: block;
		margin-top: 30px;
	}
	
	body.site-layout > main.record > div.title, body.site-layout > main.record > div.artists, body.site-layout > main.record > div.cover{
		margin-left: 10px;
	}
	
	body.site-layout > main.record > div.title{
		margin-bottom: -20px;
	}
	
	body > header{
		margin-top: 30px;
	}
	
	.ascii{
		width: 596px;
		height: 362px;
		color: #101111;
		background: #101111 url(https://www.drylungs.at/img/ascii.jpg) no-repeat;
		margin-top: 0px;
		margin-left: 20px;
	}
	
	main.about > article, main.mailorder > article{
		margin-left: 30px;
		margin-top: -40px;
	}
	
	body > aside.social{
		position: absolute;
		right: 300px;
		padding-top: 100px;
	}
	
	body > footer{
		position: absolute;
		right: 10px;
		padding-top: 100px;
	}
		
	nav.hidden, nav{
		padding-left: 265px;
		margin-top: -38px;
		position: absolute;
	}
	
	a.active{
		color: #C8C8C8 !important;
	}
	
	nav.hidden > a:hover{
		color: #D3D3D3 !important;
	}
}
