*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  text-align: left;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
a {
  background-color: transparent;
  text-decoration: none;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
img {
  border-style: none;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
@media print {
  *,
  *::after,
  *::before {
    box-shadow: none !important;
    text-shadow: none !important;
  }
}
