.ascii {
	font-family: @font-family-ascii;
	display: table;
	margin: 8rem auto;
	line-height: 1;
	cursor: default;
	i {
		font-style: normal;
		display: inline;
		/* &::selection {
			background: var(--f_inv) !important;
			color: var(--b_inv) !important;
		} */
		&.plus {
			font-family: @font-family-ascii-plus;
			&::selection {
				background: var(--f_inv) !important;
				color: var(--b_inv) !important;
			}
		}
	}
}
