
//TODO https://github.com/jonsuh/hamburgers

.hamburger {
	// width: 72px;
	// height: 72px;
	// text-align: center;
	.hamburger(
		@width: 26px;
		@height: 16px;
		@line-thick: 2px;
		@color: var(--f_med)
	);
	.hamburger--squeeze();
	//.hamburger--spin();

	//height: 32px;
	//margin: auto 10px;
	padding: 0px 0px;
}