
//TODO https://github.com/jonsuh/hamburgers

.hamburger {
	position: relative;
	top: -2px;
	.hamburger(
		@width: 30px;
		//@height: 1em;
		@height: 22px;
		@line-thick: 4px;
		@color: var(--f_med);
	);
	//.hamburger--squeeze();
	.hamburger--vortex();

	//height: 32px;
	//margin: auto 10px;
	//padding: 0px 0px;
}
