
ol.records {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(190px,1fr));
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	li.record {
		position: relative;
		width: 100%;
		//.cover {}
		.inner {
			position: absolute;
			top: 0;
			right: 0;
			//bottom: 0;
			left: 0;
			.details {
				height: 50%;
				margin: 2px;
				padding: 0.5rem;
				font-size: 75%;
				line-height: 1.22;
				z-index: 1000;
				background: var(--b_med);
				//color: var(--f_med);
				//writing-mode: vertical-rl;
				ul.artists {
					display: inline-flex;
					li {
						&:not(:last-child)::after {
							content: "&";
							padding: 0 0.5ch;
						}
					}
				}
			}
		}
		&:hover {
			//color: var(--b_high);
			img {
				//box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
				transition: all 0.2s;
				// filter: none;
				//transform: scale(1.01);
			}
			.inner {
				.details {
					background: var(--b_high);
					//color: red !important;//var(--f_high);
				}
			}
		}
    }
	@media screen and (min-width: @vp-medium) {
		grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	}

	@media screen and (min-width: @vp-large) {
		grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
	}
}
