
@import "vars";

@font-regular-size: 14px;
@font-title-size: 14px;
@font-ascii-size: 16px;
@font-icons-size: 14px;

@import "app";

////////////////////////////////////////////////////////////////////////////////

header {
    padding: 20px 0;
    margin: 8vh auto 6vh auto;
}

nav {
    //box-shadow: 0px 6px 10px 0px @color-bg;
    cursor: default;
    a {
        &:hover {
            color: var(--color-highlight);
        }
        &.active:hover {
            color: var(--color-bg);
            //color: var(--color-highlight);
        }
    }
}

section.social {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 10px 14px 0px 0px;
    z-index: 1000;
    //font-size: 2rem;
    transition: transform 0.3s;
    will-change: transform;
    &.hidden {
        transform: translateY(-40px);
    }
    a {
        color: @color-text;
        opacity: 0.8;
        transition: color 0.2s, opacity 0.2s, transform 0.2s;
        will-change: color, opacity, transform;
        &:hover {
            color: @color-highlight;
            opacity: 1;
            transform: scale(1.15);
        }
    }
}

main {
    padding: 40px 0 60px 0;
    margin: 4vh 4vw 0vh 4vw;
    &.about, &.mailorder {
        li {
            margin-left: 1em;
        }
    }
}

main.records {

    margin: 0px 10px 0px 10px;

    @grid-cell-width: 600px;

    ol.records {

        grid-gap: 1.5vw;
        margin: 0 1.5vw 0 1.5vw;

        @media screen and (max-width: calc(@grid-cell-width*9)) { grid-template-columns: repeat(9,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*8)) { grid-template-columns: repeat(8,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*7)) { grid-template-columns: repeat(7,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*6)) { grid-template-columns: repeat(6,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*5)) { grid-template-columns: repeat(5,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*4)) { grid-template-columns: repeat(4,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*3)) { grid-template-columns: repeat(3,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*2)) { grid-template-columns: repeat(2,1fr); }
        @media screen and (max-width: @grid-cell-width) { grid-template-columns: repeat(1,1fr); }

        li.record {

            position: relative;

            background: var(--color-bg);

            //filter: brightness(12%) contrast(91%) grayscale(90%) sepia(2%);
            //filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
            //transition: transform 0.3s;

            div.covers {
                //transform: scale(0.995);
                filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));
                //transition: transform 0.2s, filter 0.2s;
                transition: filter 0.2s;
                img.cover {
                    width: 100%;
                    filter: brightness(12%) contrast(91%) grayscale(90%) sepia(2%);
                    will-change: filter;
                    //transition: filter 0.05s;
                    //height: 100%;
                    //transition: filter 0.1s;
                }
                &:hover {
                    //z-index: 100000;
                    //transform: scale(1);
                    //filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));
                    img.cover {
                        //filter: none;
                        filter: brightness(80%) contrast(90%) grayscale(30%) sepia(2%);
                        transition: filter 0.3s;
                    }
                }
            }

            .details {

                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                z-index: 1000;

                * {
                    //text-overflow: ellipsis;
                    background: var(--color-bg);
                    color: var(--color-text);
                }
                .id {
                    //opacity: 0.7;
                    padding: 0 1px;
                    display: inline-block;
                    float: left;
                    //font-family: @font-title-family;
                    //font-size: 20px;
                    //transform: rotate(90deg);
                    //background: var(--color-bg);
                }
                .name {
                    //display: table;
                    display: none;
                    margin-right: 4px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .artists {
                    display: none;;
                    &::before {
                        content: "-";
                        margin: 0 8px;
                    }
                    li {
                        display: inline-block;
                        &:not(:last-child)::after {
                            content: "+";
                            margin: 0 4px;
                        }
                    }
                }
                .date, .description, .notes, .format {
                    display: none;
                }
            }

            /*
            .info {

                position: absolute;
                top: 1px;
                left: 1px;
                z-index: 100;
                opacity: 0.8;

                * {
                    display: table;
                    background: var(--color-bg);
                    //white-space: nowrap;
                    //overflow: hidden;
                }
                .id {
                    padding: 4px 6px 0px 6px;
                }
                ol.artists {
                    display: table;
                    padding: 4px 7px 4px 7px;
                    position: relative;
                    top: -2px;
                    //opacity: 0;
                    //transition: opacity 0.3s;
                    li {
                        display: inline-block;
                        &:not(:last-child)::after {
                            content: "+";
                            margin: 0 4px;
                        }
                    }
                }
                .name {
                    display: none;
                    padding: 0px 2px 0px 7px;
                }
                .date, .format, .description, .notes {
                    display: none;
                }
            }
            */

            /*
            &:hover {
                transform: scale(1);
                .info {
                    opacity: 1;
                    ol.artists {
                        //opacity: 1;
                    }
                }
                img.cover {
                    filter: brightness(80%) contrast(90%) grayscale(30%) sepia(2%);
                    transition: filter 0.3s;
                }
            }
            */

        }
    }
}

main.record {

    ol, ul {
        margin: 0;
        li {
            margin-left: 2em;
        }
    }
    label {
        display: inline-block;
    }

    h1.id {
        font-size: ~"calc( 2.5rem + 3vw )";
        letter-spacing: -0.1vw;
        text-indent: -0.5vw;
        margin-bottom: -10px;
        cursor: default;
        //display: inline-block;
        //float:left;
    }
    h2.name {
        font-size: ~"calc( 1.5rem + 0.75vw )";
        margin-bottom: 10px;
        cursor: default;
    }

    div.artists {
        ul {
            display: inline-block;
            li {
                display: inline-block;
                margin: 0;
                &:not(:last-child)::after {
                    content: "+";
                    margin: 0 4px;
                }
            }
        }
    }
    div.details {
        display: table;
        //display: inline-block;
        //background: #ff0000;
        //height: 100%;
    }
    div.description {
        margin: 2vh 0;
    }
    div.tracks {
        margin: 0px 0;
        ol {
            margin: 10px 0;
            li {
                list-style-type: disc;
                list-style-position: inside;
                //margin-left: 0;
                &::before {
                    //content: "·";
                    //margin: 0 4px;
                }
            }
        }
    }

    div.notes {
        margin: 2vh 0;
    }
    div.covers {
        //max-width: 1000px;
        //max-height: 1000px;
        //filter: brightness(12%) contrast(91%) grayscale(90%) sepia(2%);
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.6));
        //animation: cover_fade_in 1s;
        img {
            margin-right: 10px;
            margin-bottom: 10px;
            display: inline-block;
            //width: 100%;
            //max-width: 1000px;
            //max-width: 80vh;
            //max-height: 80vh;
            float: left;
        }
    }
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;
    //background: var(--color-bg);
    transition: transform 0.2s;
    user-select: none;
    &.hidden {
        transform: translateY( 40px );
    }
    //font-size: 0.8rem;
    padding: 3px 12px 8px 4px;
    .icon {
        //font-size: 0.74rem;
    }
}
