
@import "vars";

@font-regular-size: 12px;
@font-title-size: 14px;
@font-ascii-size: 1.2vmax;
@font-icons-size: 14px;

@import "app";

////////////////////////////////////////////////////////////////////////////////

/*
header {
	.ascii {
		font-size: 1.2vmax;
		* {
			font-size: 1.2vmax;
        }
	}
}
*/

nav {
	width: 100%;
}

/*
main.records {
	ol.records {
		grid-gap: 2vw;
		li.record {
			.info {
				.id {
					font-size: 8vmax;
				}
			}
		}
	}
}

main.record {
}
*/
