
@import "vars";

@font-regular-size: 14px;
@font-title-size: 14px;
@font-ascii-size: 16px;
@font-icons-size: 14px;

@import "app";

////////////////////////////////////////////////////////////////////////////////

/*
header {
	.ascii {
		font-size: 16px !important;
		* {
			font-size: 16px !important;
        }
	}

}
*/


header {
	.ascii {
		//font-size: 1.1vmax;
		* {
			//font-size: 1.1vmax;
        }
	}
}

/*
main.records {
	ol.records {
		li.record {
			&:hover {
                transform: scale(1.05);
                z-index: 100000000;
                img {
                    transition: filter 0.5s;
                    filter: brightness(80%) contrast(90%) grayscale(60%) sepia(2%);
                }
            }
			.info {
				.id {
					font-size: 48px;
					//font-size: 4vw;
				}
			}
		}
	}
}

main.record {
}
*/
