
@import "animations";
@import "fonts";
@import "icons";
@import "reset";
@import "scrollbar";

////////////////////////////////////////////////////////////////////////////////

:root {
    --color-bg: @color-bg;
    --color-text: @color-text;
    --color-highlight: @color-highlight;
}

////////////////////////////////////////////////////////////////////////////////

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

body {

    overflow-x: hidden;

    font-family: @font-regular-family;
    font-size: @font-regular-size;
    line-height: 1.2;

    background-color: var(--color-bg);
    color: var(--color-text);

    //tap-highlight-color: @color-text;
    //-webkit-tap-highlight-color: @color-text;

    //display: none;
    //animation: fade_in 0.1s;
    //filter: invert(100%);
}

a {
    text-decoration: none;
    border: none;
    color: @color-text;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    &:focus {
        color: var(--color-highlight);
    }
    &:active, &:hover {
        //outline: 0;
    }
    &:hover {
        //text-decoration: underline;
        color: var(--color-highlight);
    }
}

h1, h2, h3, h4 {
    font-family: @font-title-family;
}
h1 {
    font-size: 140px;
    font-size: 8vw;
    //letter-spacing: -0.8vw;
    text-indent: -0.5vw;
}
h2 {
    font-size: 48px;
    font-size: 3vw;
}
h3 {
    font-size: 32px;
    font-size: 3vw;
}
h4 {
    font-size: 24px;
    font-size: 2vw;
}
h5 {
    font-size: 18px;
    //TODO font-size: 2vw;
}
h6 {
    font-size: 18px;
    //TODO font-size: 2vw;
}

p {
    display: block;
    margin-top: 0;
    margin-bottom: 0.5rem;
    //-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

ol, ul {
    list-style: none;
    margin-bottom: 2em;
}

li {
    //margin-left: 4em;
    display: list-item;
    //text-align: -webkit-match-parent;
    list-style: none;
}

::selection {
    background: @color-bg;
    color: #fff;
    color: @color-text;
}

.ascii {
    font-family: @font-ascii-family;
    font-size: @font-ascii-size;
    line-height: 1;
    white-space: pre;
    * {
        display: inline;
        &::selection {
            background: #000;
            color: @color-text;
        }
    }
    b, h1, h2, h3, h4, h5 {
        font-family: @font-ascii-plus-family;
        font-size: @font-ascii-size;
        &::selection {
            color: #a0a0a0;
        }
    }
}

img {
    user-select: none;
    user-drag: none;
    -webkit-user-drag: none;
}
img.cover {
    max-width: @cover-img-size;
    max-height: @cover-img-size;
}

////////////////////////////////////////////////////////////////////////////////

header {
    display: table;
    //display: none;
    //visibility: hidden;
    margin: 10vh auto 0 auto;
    white-space: pre;
    animation: fade_in 0.3s;
    cursor: default;
    h1 {
        &::selection {
            color: #fff !important;
        }
    }
    h2::selection {
        //color: #ff0000 !important;
    }
}

nav {
    position: fixed;
    top: 0px;
//    top: -100px;

    left: 0px;
    z-index: 10000;
    padding: 3px 4px 2px 4px;
    text-transform: uppercase;
    //background: @color-text;
    //color: @color-bg;
    //font-size: 2em;
    user-select: none;
    a {
        padding: 3px 4px 2px 4px;
        &.active {
            background: @color-text;
            color: @color-bg;

        }
    }
    //font-size:
    //animation: fade_in 0.8s;
}

main {
/*
    //margin-top: 2vh !important;
    //list-style:georgian;
    width: 100%;
    height: 100%;
    background: red;
    */
    animation: fade_in 0.2s;
}

main.error {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: #ff0000;

/*
    background: #ff0000;
    color: #fff;
    width: 100%;
    height: 100%;
    .code {
        font-size: 100px;
    }
    .message {
        font-size: 100px;
    }
    */
}

main.about,
main.mailorder
{
    //display: flex;
    //flex-wrap: wrap;
    display: table;
    align-content: center;

    min-width: 400px;
    max-width: 80vw;
    padding: 5vh 4vw 4vh 4vw;
    li {
        list-style: circle;
        margin-left: 4em;
    }
}

main.records {

    @grid-cell-width: 600px;

    padding: 10vh 4vw 5vh 4vw;

    ol.records {

        //animation: fade_in 1.2s;

        display: grid;
        grid-template-columns: repeat(1,1fr);
        //grid-gap: 1.5vh 2vw;
        grid-gap: 1.5vw;
        @media screen and (max-width: calc(@grid-cell-width*9)) { grid-template-columns: repeat(9,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*8)) { grid-template-columns: repeat(8,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*7)) { grid-template-columns: repeat(7,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*6)) { grid-template-columns: repeat(6,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*5)) { grid-template-columns: repeat(5,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*4)) { grid-template-columns: repeat(4,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*3)) { grid-template-columns: repeat(3,1fr); }
        @media screen and (max-width: calc(@grid-cell-width*2)) { grid-template-columns: repeat(2,1fr); }
        @media screen and (max-width: @grid-cell-width) { grid-template-columns: repeat(1,1fr); }

        li.record {

            overflow: hidden;

            position: relative;
            display: block;
            background: @color-bg;

            transform: scale(0.995);
            transition: transform 0.2s, filter 0.2s;
            //transition: transform 0.3s;

            filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.6));

            &:hover {
                //transform: scale(1.005);
                transform: scale(1);
                z-index: 100000000;
                filter: drop-shadow( 6px 6px 12px rgba(0,0,0,0.6) );
                img {
                    transition: filter 0.5s;
                    filter: brightness(80%) contrast(90%) grayscale(30%) sepia(2%);
                }
            }

            .info {
                position: absolute;
                //position: absolute;
                top: 1px;
                //right: 1px;
                left: 1px;
                z-index: 10000;
                //display: table;
                margin: 0px 0px 0px 0px;
                padding: 3px 0px 0px 3px;

                //background: @color-bg;
                margin: 0;

                //background: rgba(0,0,0,0.8);

                opacity: 0.9;
                * {
                    //white-space: nowrap;
                    //background: @color-bg;
                }
                .id {
                    //display: table;
                    //display: inline;
                    padding: 2px 2px 2px 2px;
                    background: @color-bg;
                }
                .name {
                    display: none;
                    //white-space: nowrap;
                }
                .artists {
                    position: relative;
                    top: -10px;
                    text-indent: 3px;
                    //left: 2px;
                    display: table;
                    padding: 2px 4px 2px 3px;
                    margin: 0;
                    background: @color-bg;
                    * {
                        //display: inline-block;
                    }
                }

                .date, .format, .description, .notes {
                    display: none;
                }
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                filter: @cover-filter;
                transition: filter 0.3s transform 0.3s;
            }
        }
    }
}

/*
main.record {
    padding: 10vh 5vw 10vh 5vw;
    .id {
        position: relative;
    //    left: -12px;
        //font-size: 140px;
        //letter-spacing: -8px;
    }
    .name {
        position: relative;
    //    left: -1px;
        margin-top: -2px;
        //margin-bottom: 10px;
        //font-size: 32px;
    }
    ol.artists {
        margin-top: 8px;
        li {
            display: inline-block;
            &:not(:last-child)::after {
                content: "+";
                margin: 0 4px;
            }
        }
    }
    .date {
        display: none;
    }
    .format {
        display: none;
    }
    .notes {
        margin-top: 8px;
    }
    .tracks {
        //display: none;
    }
    .covers {
        margin: 1vh 0px 0px 0px;
        padding: 0 0px 10vh 0px;
        filter: @cover-filter;
        animation: fade_in 0.5s;
        &:hover {
            //filter: none;
        }
        img {
            width: 100%;
            max-width: 1000px;
            margin: 0 10px 10px 0;
            display: inline-block;
            float: left;
        }
    }
}
*/

footer {
    position: fixed;
    right: 14px;
    bottom: 12px;
    //padding: 0px 2px 10px 2px;
    z-index: 10;
    .fa-lg;
    text-transform: uppercase;
    //background: @color-bg;
    //color: @color-text;
    //user-select: none;
    a {
        color: @color-text;
        opacity: 0.9;
        transition: color 0.2s, opacity 0.2s, transform 0.2s;
        &:hover {
            color: @color-highlight;
            opacity: 1;
            transform: scale(1.1);

        }
    }
    &.hidden {
        //display: none;
    }
}

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #0000ff;
    z-index: 1000;
    display: none;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
