
@import "reset";
@import "fonts";
@import "icons";
@import "scrollbar";
@import "animations";

////////////////////////////////////////////////////////////////////////////////

:root {

    --color-bg: @color-bg;
    --color-text: @color-text;
    --color-highlight: @color-highlight;
    --color-error: @color-error;

    --color-text-select: @color-text-select;
    --color-text-select-background: @color-text-select-background;
}

////////////////////////////////////////////////////////////////////////////////

body {

    width: auto;
    overflow-x: hidden;

    font-family: @font-regular-family;
    font-size: @font-regular-size;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;

    background-color: var(--color-bg);
    color: var(--color-text);
    -webkit-tap-highlight-color: none;
}

::selection {
    background: @color-text-select-background;
    color: @color-text-select;
}

a {
    border: none;
    text-decoration: none;
	background: transparent;
	color: var(--color-text);
}

p {
    display: block;
    margin-top: 0;
    margin-bottom: 0.5rem;
    //-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @font-title-family;
}
h1, .h1 {
    font-size: 2.5rem;
}
h2, .h2 {
    font-size: 2rem;
}
h3, .h3 {
    font-size: 1.75rem;
}
h4, .h4 {
    font-size: 1.5rem;
}
h5, .h5 {
    font-size: 1.25rem;
}
h6, .h6 {
    font-size: 1rem;
}

hr  {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px dotted var(--color-highlight);
}

ol, ul {
    margin-bottom: 2em;
}
li {
    //list-style-position: inside;
    list-style: none;
    margin-left: 2em;
}

////////////////////////////////////////////////////////////////////////////////

.ascii {
    font-family: @font-ascii-family;
    font-size: @font-ascii-size;
    line-height: 1;
    white-space: pre;
    * {
        display: inline;
        &::selection {
            background: #000;
            color: var(--color-text);
        }
    }
    b, h1, h2, h3, h4, h5, h6 {
        font-family: @font-ascii-plus-family;
        font-size: @font-ascii-size;
        &::selection {
            color: var(--color-highlight);
        }
    }
}

header {
	display: table;
	margin: 8vh auto 0 auto;
    cursor: default;
}

nav {
	position: fixed;
    top: 0;
    left: 0;
	background: var(--color-bg);
    z-index: 1000;
    user-select: none;
    -webkit-user-select: none;
	* {
		padding: 5px 6px 2px 7px;
		background-color: var(--color-bg);
        color: var(--color-text);
	}
    h1 {
        display: inline-block;
        font-family: @font-regular-family;
        font-size: @font-regular-size;
        //font-weight:  bold;
    }
	a {
        &.active {
            background-color: var(--color-text);
            color: var(--color-bg);
        }
	}
}

main {
    display: table;
    z-index: 10;
    animation: fade_in 0.4s;
}

main.records {

    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

	ol.records {
		display: grid;
		grid-template-columns: repeat(1,1fr);
        li.record {
            margin: 0;
            padding: 0;
            list-style: none;
            .artists {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            img.cover {
                display: block;
                user-select: none;
                user-drag: none;
                -webkit-user-drag: none;
            }
        }
    }
}

main.record {
    li {
        //list-style-position: inside;
        margin-left: 2em;
    }

}

footer {
	position: fixed;
	right: 0;
    bottom: 0;
    z-index: 1000;
    //background: var(--color-bg);
    transition: transform 0.2s;
    user-select: none;
    &.hidden {
        transform: translateY( 40px );
    }
}
