
@import 'drylungs';

//------------------------------------------------------------------------------

/*
@scrollbar-thick: 10px;

::-webkit-scrollbar {
	border: none;
    &:vertical {
		width: @scrollbar-thick;
	}
    &:horizontal {
		height: @scrollbar-thick;
	}
}
/*
::-webkit-scrollbar-track {
	//box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-track-piece {
::-webkit-scrollbar-button {}
::-webkit-scrollbar-corner
::-webkit-scrollbar-thumb {
	background: @text-color;
	border-radius: @scrollbar-thick/2;
    &:hover {
        background: @text-color-highlight;
    }
}
::-webkit-scrollbar-corner {
	display: none;
}
*/

//------------------------------------------------------------------------------
