
@import "normalize";

@color-bg: #fff;
@color-text: #fff;

@font-family-ascii: 'MicroKnight';
@font-family-ascii-plus: 'P0T';

@font-size: 13px;
@font-size-ascii: 16px;

@scollbar-width: 10px;

////////////////////////////////////////////////////////////////////////////////

@font-face {
    font-family: FontRegular;
    src: url('font/Anonymous Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: FontTitle;
  src: url('font/Helvetica Neue 55 Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(font/MaterialIcons-Regular.woff2) format('woff2'),
       url(font/MaterialIcons-Regular.woff) format('woff'),
       url(font/MaterialIcons-Regular.ttf) format('truetype');
}
@font-face {
    font-family: MicroKnight;
    src: url('font/MicroKnight_v1.0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: P0T;
    src: url('font/P0T-NOoDLE_v1.0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

////////////////////////////////////////////////////////////////////////////////

@keyframes fadeIn {
  from { opacity: 0; }
  100% { opacity: 1; }
}

////////////////////////////////////////////////////////////////////////////////

*, *:before, *:after {
    margin: 0;
    padding: 0;
}

body {

    //line-height: @font-size;

    font-family: 'FontRegular';
    font-size: @font-size;
    //-webkit-font-smoothing : none;
    //-webkit-font-smoothing: antialiased;

    background-color: @color-bg;
    color: @color-text;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
    color: @color-text;
    text-decoration: none;
    border: none;
    background-color: transparent;
    &:active, &:hover {
        outline: 0;
    }
    &:hover {
        text-decoration: underline;
    }
}

img {
    border: 0;
    margin: 0;
    padding: 0;
}

p {
    padding: 0px 0 10px 0;
}

ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

::selection {
  background: #909090;
  color: #000;
}

::-webkit-scrollbar {
    border: none;
}
::-webkit-scrollbar:vertical {
    width: @scollbar-width;
}
::-webkit-scrollbar:horizontal {
    height: @scollbar-width;
}
::-webkit-scrollbar-thumb {
    background: @color-text;
    border-radius: @scollbar-width / 2;
}
::-webkit-scrollbar-thumb:hover {
    //background: #fff;
}
::-webkit-scrollbar-corner {
    display: none;
}

.material-icon {
    position: relative;
    top: 2px;
    font-family: 'Icons';
    font-weight: normal;
    font-style: normal;
    font-size: @font-size * 0.9;  // Preferred icon size
    display: inline-block;
    line-height: 0.9;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.ascii {
    white-space: pre;
    display: table;
    margin: 0 auto;
    font-family: @font-family-ascii;
    font-size: @font-size-ascii;
    .plus {
        display: inline;
        font-family: @font-family-ascii-plus;
        &::selection {
            //background: #fff;
            color: #000;
        }
    }
}

/*
.scroll-wave {
    * {
        //transition: all 600ms cubic-bezier( 0.260, 0.860, 0.440, 0.985 );
        transition: transform 600ms;
        clip-path: fill-box;
        &.past {
            //transform: rotateX(10deg);
        }
        &.future {
            //transform: rotateX(-110deg);
        }
    }
}
*/

////////////////////////////////////////////////////////////////////////////////

header {
    margin: 8vh auto 10vh auto;
    .ascii {
        font-size: 1.5vw;
    }
}

ol.releases {

    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @media(max-width: 50%) {
        grid-template-columns: repeat(1,1fr);
    }

    li.release {

        padding: 20px;

        box-shadow: 8px 8px 20px rgba(0,0,0,0.3);

        .meta {

            position: absolute;
            z-index: 99999;

            background: rgba(0,0,0,0.7);

            .id {
                font-family: 'FontTitle';
                font-size: 3vw;
            }

            .name {
                position: absolute;
                display: table;
            }

            ul.artists {
                display: none;
                li {
                    &:not(:last-child)::after {
                        content: " +";
                    }
                }

            }
        }

        img.cover {

            position: relative;
            width: 100%;

            ////position: absolute;
            //width: 100%;
            //height: 100%;

            max-width: 1000px;
            max-height: 1000px;

            width: 100%;
            //height: 100%;
            //transition: filter 0.04s;
            //filter: brightness(8%) contrast(91%) grayscale(90%) sepia(16%);

            &:hover {
                //filter: brightness(80%) contrast(96%) grayscale(20%) sepia(2%);
            }
        }
    }
}

footer {

    margin: 0px auto;

    /*
    @media(min-width: 1000px) {
        .ascii {
            font-size: 20px;
        }

    }
    @media(max-width: 1000px) {
        .ascii {
            //transform: translateX(-50%);
        }
    }
    */

    .info {
        margin: 50px auto 200px auto;
        text-align: center;
    }
}
