
@font-face {
    font-family: 'DLRRegular';
    src: url('font/liberation_mono-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DLRTitle';
    src: url('font/helvetica-55.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DLRAscii';
    src: url('font/MicroKnight_v1.0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DLRAsciiPlus';
    src: url('font/P0T-NOoDLE_v1.0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
