
@import "fa/fontawesome";
@import "fa/fa-brands";
@import "fa/fa-solid";
@import "fa/fa-regular";

.fa-icon {
    vertical-align: middle;
}

.ic-copyright {
    .fa-icon;
    .far;
    &:before { content: @fa-var-copyright; }
}
.ic-atom {
    .fa-icon;
    .fas;
    &:before { content: @fa-var-rss; }
}
.ic-email {
    .fa-icon;
    .fas;
    &:before { content: @fa-var-envelope; }
}
.ic-twitter {
    .fa-icon;
    .fab;
    &:before { content: @fa-var-twitter; }
}
.ic-instagram {
    .fa-icon;
    .fab;
    &:before { content: @fa-var-instagram; }
}
.ic-bandcamp {
    .fa-icon;
    .fab;
    &:before { content: @fa-var-bandcamp; }
}
.ic-phone {
    .fa-icon;
    .fas;
    &:before { content: @fa-var-phone; }
}
.ic-share {
    .fa-icon;
    .fas;
    &:before { content: @fa-var-share; }
}
