
//@breakpoint-mobile: 600px;
//@breakpoint-tablet: 800px;
//@breakpoint-desktop: 800px;

@font-family-regular: 'FontRegular';
@font-family-title: 'FontTitle';
@font-family-icon: 'FontIcon';

@font-filepath: "../fnt";
