
// Global vars

@color-bg: #0c0c0c; // rgb(12,12,12)
@color-text: #3f3f3f; // rgb(47, 47, 47)
@color-highlight: rgb(160, 160, 160);

@font-regular-family: 'DLRRegular', monospace;
@font-title-family: 'DLRTitle', "Helvetica", "Arial", sans-serif;
@font-ascii-family: 'DLRAscii', monospace;
@font-ascii-plus-family: 'DLRAsciiPlus', monospace;

@cover-img-size: 1000px;
@cover-filter: brightness(12%) contrast(91%) grayscale(90%) sepia(2%);
