
// Global vars

/*
@color-bg: #0c0c0c; // rgb(12,12,12)
//@color-text: #3f3f3f; // rgb(47, 47, 47)
@color-text: #6f6f6f; // rgb(47, 47, 47)
@color-highlight: rgb(160, 160, 160);
*/
@color-bg: #101111;
@color-text: #5e6461;
//@color-highlight: rgb(160, 160, 160);
@color-highlight: rgb(160, 160, 160);

/*
#101111
#191b1a
#2a2d2b
#414543
#5e6461
#828986
#abb4b0
#dae5e0
*/


@font-regular-family: 'DLRRegular', "Liberation Mono", "Courier New", monospace;
@font-title-family: 'DLRTitle', "Helvetica", Roboto, "Arial", sans-serif;
@font-ascii-family: 'DLRAscii', monospace;
@font-ascii-plus-family: 'DLRAsciiPlus', monospace;

@cover-img-size: 1000px;
@cover-filter: brightness(12%) contrast(91%) grayscale(90%) sepia(2%);
